body{
margin:0;
font-family:Arial;
background:#0b1b2b;
color:white;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#081524;
}

.hero{
padding:80px 20px;
}

button{
padding:15px 25px;
background:#22c55e;
border:none;
color:white;
font-size:18px;
border-radius:8px;
}
